body {
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.header {
    background-color: #1F2937;
    padding: 10px 200px;
    margin-bottom: 100px;   
    display: flex;
    flex-direction: column;
}

.logo-and-links {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text,
.hero-main-text {
    color: #F9FAF8;
    font-size: 24px;
}

.logo-text {
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    column-gap: 30px;
}

.hero-container {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.hero-texts {
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.hero-container button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    border: none;
}

.hero-container img {
    height: auto;
    width: 300px;
    flex: 0 0 auto;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.links,
.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    height: auto;
    width: 80px;
}

.section2 {
    text-align: center;
    padding: 10px 300px;
}

.section2-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.image-row {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.image {
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.image img {
    border: 5px solid #3882F6;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    flex: 1 1 auto;
}

.section3 {
    background-color: #E5E7EB;
    width: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.section3 div {
    width: 500px;
}

.quote {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.signature {
    text-align: end;
}

.section4 {
    padding: 100px 200px;
}

.action-area {
    background-color: #3882F6;
    padding: 50px 100px;
    color: #F9FAF8;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 200px;
}

.action-area button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    border: 3px solid #F9FAF8;
}

.action-text {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.action-text strong {
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}